<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

 <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:XE</property>
  <property name="hibernate.connection.username">erestaurant</property>
  <property name="hibernate.connection.password">erestaurant</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  <property name="hibernate.default_schema">erestaurant</property>
  <property name="show_sql">true</property>
  <property name="hibernate.current_session_context_class">thread</property>

<mapping class="eres.model.Restaurant" />
<mapping class="eres.model.Users" />
<mapping class="eres.model.Reservation" />
<mapping class="eres.model.Order" />
<mapping class="eres.model.Food" />
	</session-factory>

</hibernate-configuration>